<%= form_with(model: friends_db) do |form| %>
  <% if friends_db.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(friends_db.errors.count, "error") %> prohibited this friends_db from being saved:</h2>

      <ul>
        <% friends_db.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= form.text_field :first_name,placeholder:"First Name",class:"form-control" %>
  </div>

  <div class="field form-group">
    <%= form.text_field :last_name,placeholder:"Last Name" ,class:"form-control"%>
  </div>

  <div class="field form-group">
    <%= form.text_field :email ,placeholder:"Email",class:"form-control"%>
  </div>

  <div class="field form-group">
    <%= form.text_field :phone,placeholder:"Phone",class:"form-control" %>
  </div>

  <div class="field form-group">
    <%= form.text_field :twitter ,placeholder:"Twitter",class:"form-control"  %>
  </div>
  <div class="field form-group">
    <%= form.number_field :user_id,id: :friends_id_user_id,value:current_user.id,class:"form-control" ,type:"hidden" %>
  </div>
 <!-- <%= current_user.inspect %> 
  <%= current_user.id %>-->

  <div class="actions">
    <%= form.submit class:"btn btn-primary" %>
  </div>
<% end %>
